.logo{
    height: 60px;
}

.btn-danger {
    background-color: #dc3545!important;
}

.btn-primary {
    background-color: #007bff !important;
}

.dataTables_wrapper .dataTables_length select {
    padding: 2px 25px !important;
}

.tab-head {
    font-size: 18px;
    font-weight: 700;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inst-body {
    min-height: 92vh;
}

.application-footer {
    min-height: 50px; 
    padding: 25px 0;
    width: 100%;
}

#online-form {
    margin: 0 5%;
}

.captcha {
    background-color: #FFA275;
    padding: 10px 20px;
    margin: 10px;
}

.edit-green {
    font-size:25px; 
    color:Green;
}

.displayNone {
    display: none;
}

.actions-btn{
    display: inline !important;
}
.actions-btn button{
    background-color: #28a745 !important;
}

.application_header, .application_footer {
    background: linear-gradient(90deg, #f58920 31%, #f04d09 72%, #e04421 91%);
}


/*************************** form steps tabs css **************************/

/* Custom CSS */
ul#wizardStatus{
  list-style:none;
  margin:15px 0;
  padding:0;
  text-align:center;
}
ul#wizardStatus li a{
    color: #ffffff !important;
}
ul#wizardStatus li{
  background-color:#d9d9ce;
  color:#3d4c4f;
  display:inline-block;
  margin:0;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
  line-height:30px;
  padding:0 25px 0 40px;
  position:relative;
  margin-bottom: 5px;
}

ul#wizardStatus li:first-child{
  padding-left:25px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px
}

ul#wizardStatus li:last-child{
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px
}

ul#wizardStatus li:after,
ul#wizardStatus li:before {
  background-color:#d9d9ce;
  content:"";
  display:block;
  position:absolute
}

ul#wizardStatus li:after{
  -webkit-border-radius:3px;
  border-radius:3px;
  border-right:3px solid white;
  border-top:3px solid white;
  height:21px;
  right:-15px;
  top:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  width:21px;
  z-index:5
}

ul#wizardStatus li:before{
  height:30px;
  right:3px;
  width:20px;
  z-index:6
}

ul#wizardStatus li:last-child:after,
ul#wizardStatus li:last-child:before{
  display:none
}

ul#wizardStatus li.current{
  background-color:#0597c5;
  color:#fff;
}

ul#wizardStatus li.current:after,
ul#wizardStatus li.current:before{
  background-color:#0597c5
}

ul#wizardStatus li.completed{
  background-color:#84BC00;
  color:#fff;
}

ul#wizardStatus li.completed:after,
ul#wizardStatus li.completed:before{
  background-color:#84BC00;
}

ul#wizardStatus li.notcompleted{
    background-color: orange;
    color:#fff;
}
ul#wizardStatus li.notcompleted:after,
ul#wizardStatus li.notcompleted:before{
  background-color: orange;
}

ul#wizardStatus li.importantStep{
  background-color: red;
  color:#fff;
}
ul#wizardStatus li.importantStep:after,
ul#wizardStatus li.importantStep:before{
background-color: red;
}


/*********************** loader css start ***************************/
/* Center the loader */
#loader {
  display: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*********************** loader css end *****************************/